# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
flutter_*.png
gen/
*.g.dart

# iOS/Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
ios/Runner.xcworkspace/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint

# Android/Gradle
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/debug
android/app/profile
android/app/release

# Web
web/.dart_tool/

# Windows
windows/GeneratedFiles/
windows/flutter/
windows/ephemeral/

# Linux
linux/flutter/
linux/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# IntelliJ / Android Studio
*.iml
.idea/
.idea_modules/
*.ipr
*.iws
*.jks

# VS Code
.vscode/
.history/

# Miscellaneous
*.log
*.tmp
*.temp
*.swp
*.swo
*.DS_Store
*.lock
